/* Remove bullets from the list */
ul#gamesList {
  list-style-type: none;
  padding: 0;
}

/* Style the game item buttons */
.game-item, .leader-item {
  display: block;
  width: 100%;
  background-color: #f9f9f9;
  border: none;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem; /* Set font size for the button text */
}

.game-item:hover, .leader-item:hover {
  background-color: #ececec;
}

/* Adjust the font size of individual elements if needed */
.game-item .opponent-name,
.game-item .game-status,
.game-item .play-time, .leader-stats {
  font-size: 1.2rem; /* Same as the button or adjust individually */
}
